.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500%;
  overflow: hidden;
  z-index: -2;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  /* background: rgba(0, 255, 65, 0.5); */
  animation: animate 25s linear infinite;
  bottom: -150px;
  /* border:10px inset rgba(0, 255, 65, 0.5); */
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  border:7px inset rgba(0, 255, 65, 0.5);
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  border:3px inset rgba(0, 255, 65, 0.5);
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  border:3px inset rgba(0, 255, 65, 0.5);
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  border:5px inset rgba(0, 255, 65, 0.5);
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  border:3px inset rgba(0, 255, 65, 0.5);
}

.circles li:nth-child(6){
  left: 75%;
  /* width: 110px;
  height: 110px; */
  animation-delay: 3s;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 75px solid rgba(0, 255, 65, 0.5);
}

.circles li:nth-child(7){
  left: 35%;
  /* width: 150px;
  height: 150px; */
  animation-delay: 15s;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 150px solid rgba(0, 255, 65, 0.5);
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
  border:4px inset rgba(0, 255, 65, 0.5);
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
  border:2px inset rgba(0, 255, 65, 0.5);
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
  border:10px inset rgba(0, 255, 65, 0.5);

}
.circles li:nth-child(11){
  left: 15%;
  /* width: 150px;
  height: 150px; */
  animation-delay: 7s;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 37.5px solid rgba(0, 255, 65, 0.5);
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: .8;
      border-radius: 0;
  }

  100%{
      transform: translateY(-5000px) rotate(720deg);
      opacity: 1;
      border-radius: 0;
  }

}


body {
  background-color: rgb(13, 2, 8); 
}

h1 {
  text-align: center;
  font-size: 100px;  
  font-family: Ruslan Display;
  margin-top:20px;
  margin-bottom:100px;
  color: rgb(13, 2, 8);
  text-shadow: 0 -2px rgb(0, 255, 65), 0 2px rgb(0, 143, 17),0 2px rgb(0, 143, 17),0 -2px rgb(0, 143, 17);
}


h2 {
  text-align: center;
  font-size: 60px;  
  font-family: Ruslan Display;
  margin-top:20px;
  margin-bottom:100px;
  color: rgb(13, 2, 8);
  text-shadow: 0 -2px rgb(0, 255, 65), 0 2px rgb(0, 143, 17),0 2px rgb(0, 143, 17),0 -2px rgb(0, 143, 17);
}

#aboutus-button{
  text-align: center;
  font-size: 40px;  
  font-family: Ruslan Display;
  margin-top:20px;
  margin-bottom:100px;
  color: rgb(13, 2, 8);
  text-shadow: 0 -2px rgb(0, 255, 65), 0 2px rgb(0, 143, 17),0 2px rgb(0, 143, 17),0 -2px rgb(0, 143, 17);
}

.buttons{
  position:relative;
  z-index:2;
  display: inline;
  font-size:50px;
  padding:20px;
  font-family: Ruslan Display;
  text-shadow: 0 -2px rgb(0, 255, 65), 0 2px rgb(0, 143, 17),0 2px rgb(0, 143, 17),0 -2px rgb(0, 143, 17);
  margin-left: 30px;

}

.buttons:hover{
  box-shadow: inset 0 0 0 15px rgb(0, 143, 17);
  transition: 350ms;
  cursor: pointer;
}


#game-button{
  text-align: center;
}

a{
  color: inherit;
  text-decoration: none;
}

#corey {
  color: white;
  text-align: center;
  margin-top: 100px;
}

#avrey {
  color: white;
  text-align: center;
  margin-top: 100px;
}

#chris {
  color: white;
  text-align: center; 
  margin-top: 100px;
}

#david {
  color: white;
  text-align: center;
  margin-top: 100px;
}

#corey p{
  width: 800px;
  margin-left: 322px;
  font-size: 26px;
}

#david p{
  width: 800px;
  margin-left: 322px;
  font-size: 26px;
}


#chris p{
  width: 800px;
  margin-left: 322px;
  font-size: 26px;
}


#avrey p{
  width: 800px;
  margin-left: 322px;
  font-size: 26px;
}

#corey h2 {
  margin-bottom: 20px;
}


#chris h2 {
  margin-bottom: 20px;
}


#avrey h2 {
  margin-bottom: 20px;
}

#david h2 {
  margin-bottom: 20px;
}