.square{
  height: 30px;
  width: 30px;
  border: solid black 1px;
}
.circle{
  height: 30px;
  width: 30px;
  border: solid black 1px;
  border-radius: 50%;
}
.triangle{
  height: 250px;
  width: 250px;
  border: 50px solid black;
}
.hexagon{
  height: 30px;
  width: 30px;
  border: solid black 1px;
}
#shape {
  height: 30px;
  width: 30px;
  border: solid black 1px;
  position: absolute;
  top: 180px;
  left:30px;
  /* transition: 500ms; */
}

#gameWindow {
  border: solid black 1px;
  height: 400px;
  width: 850px;
  margin: 10px auto;
  position: relative;
}

.goalGrid {
  display: grid;
  float: right;
}

.goal {
  border: solid black 1px;
  height: 98px;
  width: 55px;
}
