
h1{
    text-align: center;
    font-size: 100px;  
    font-family: Ruslan Display;
    margin-top:20px;
    margin-bottom:100px;
    color: rgb(13, 2, 8);
    text-shadow: 0 -2px rgb(0, 255, 65), 0 2px rgb(0, 143, 17),0 2px rgb(0, 143, 17),0 -2px rgb(0, 143, 17);
}

.buttons{
    position:relative;
    z-index:2;
    
    display: inline;
    font-size:50px;
    padding:20px;
    font-family: Ruslan Display;
    text-shadow: 0 -2px rgb(0, 255, 65), 0 2px rgb(0, 143, 17),0 2px rgb(0, 143, 17),0 -2px rgb(0, 143, 17);
    margin-left: 30px;

}

.buttons:hover{
    box-shadow: inset 0 0 0 15px rgb(0, 143, 17);
    transition: 350ms;
    cursor: pointer;

}


#game-button{
    text-align: center;
    
}

body {
    background-color: rgb(13, 2, 8); 
}
a{
    color: inherit;
    text-decoration: none;
}


/* courtesy of https://codepen.io/mohaiman/pen/MQqMyo */


.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 125%;
    overflow: hidden;
    z-index: -1;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    border:7px inset rgba(0, 255, 65, 0.5);
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
    border:3px inset rgba(0, 255, 65, 0.5);
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    border:3px inset rgba(0, 255, 65, 0.5);
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
    border:5px inset rgba(0, 255, 65, 0.5);
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    border:3px inset rgba(0, 255, 65, 0.5);
}

.circles li:nth-child(6){
    left: 75%;
    /* width: 110px;
    height: 110px; */
    animation-delay: 3s;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 75px solid rgba(0, 255, 65, 0.5);
}

.circles li:nth-child(7){
    left: 35%;
    /* width: 150px;
    height: 150px; */
    animation-delay: 15s;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 150px solid rgba(0, 255, 65, 0.5);
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
    border:4px inset rgba(0, 255, 65, 0.5);
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
    border:2px inset rgba(0, 255, 65, 0.5);
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
    border:10px inset rgba(0, 255, 65, 0.5);

}
.circles li:nth-child(11){
    left: 15%;
    /* width: 150px;
    height: 150px; */
    animation-delay: 7s;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 37.5px solid rgba(0, 255, 65, 0.5);
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: .8;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1100px) rotate(720deg);
        opacity: 1;
        border-radius: 0;
    }

}
button{
    color:rgb(13, 2, 8);
    background-color: rgb(13, 2, 8);
    border: 2px inset rgb(0, 143, 17);
    text-shadow: 0 -2px rgb(0, 255, 65), 0 2px rgb(0, 143, 17),0 2px rgb(0, 143, 17),0 -2px rgb(0, 143, 17);
    box-shadow: 
    0 0 0 2px rgb(13, 2, 8),
    0 0 0 3px rgb(0, 255, 65),
    0 0 0 4px rgb(13, 2, 8),
    0 0 0 5px rgb(0, 143, 17),
    0 0 0 6px rgb(13, 2, 8);
    font-size:20px;
    font-family: Ruslan Display;
    height:30px;
    padding-left:10px;
    margin:0 auto;
    display:block;
    
    
  }
  button:hover{
    box-shadow: inset 0 0 0 15px rgb(0, 143, 17);
    transition: 350ms;
    cursor: pointer;

}
.block{
    width:960px;
    position:relative;
    margin:50px auto;
    
}